@tailwind base;
@tailwind components;
@tailwind utilities;

.pswp__icn {
    @apply fill-primary;
}
.pswp__bg {
    @apply bg-neutral;
}

.cropper-crop-box,
.cropper-view-box {
    border-radius: 50%;
}

.cropper-view-box {
    box-shadow: 0 0 0 1px #39f;
    outline: 0;
}

emoji-picker {
    --background: oklch(var(--p) / 0.7);
    --border-radius: 0.7rem;
    --indicator-color: oklch(var(--pc));
    --input-border-color: oklch(var(--pc));
    --input-placeholder-color: oklch(var(--pc));
    --border-color: oklch(var(--pc));
    --button-hover-background: oklch(var(--pc) / 0.6);
    --outline-color: oklch(var(--pc) / 0.6);
}
